* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* classi agginte con la prorprietà classList */

.text-green {
    color: rgb(7, 119, 7);
}

.underline {
    text-decoration: underline;
    color: red;
}

.p-0 {
    padding: 0;
}